body {
  margin: 0px;
}

/* The header of the page */
.header {
  display: flex;
  align-items:center;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  padding: 10px 0px;
  border-bottom: 1px solid black;
  position: fixed;
  z-index: 5;
  background: white;
  width: 100%;
}

/* The logo will be on the left and push the navigation to the right */
.logo {
  color: MediumAquamarine;
  display: flex;
  align-items: center;
  flex-grow:1;
  padding: 0px 10px;
}

.logo * {
	margin: 0px 10px;
}

/* The navigation in the header */
nav {
  margin-right: 50px;
}

nav a {
  color: black;
  margin: 0px 10px;
}

/* The main part contains 3 column with fixed width */
/* The content must be horizontally centered        */
.main {
  display: flex;
  align-items: flex-start;
  padding: 20px 0px 1px 0px;
  padding-top: 100px;
  margin: 0px auto;
  width: 1230px;
}

.column {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  margin-right: 20px;
}

/* Width of the columns */

.large {
  width: 630px;
}

.medium {
  width: 300px;
}

.small {
  width: 240px;
}


/* Images of the stories */
.story-main-img {
  background-image: url("../images/img-story-main.png");
  height: 300px;
}

.story-1-img {
  background-image: url("../images/img-story-1.png");
  height: 300px;
}

.story-2-img {
  background-image: url("../images/img-story-2.png");
  height: 300px;
}

.story-3-img {
  background-image: url("../images/img-story-3.png");
  height: 300px;
}

/* The text on the images */
.on-image-text {
  font-weight: bold;
  color: white;
}

.main-story-img-text {
  font-size: 40px;
  text-align: left;
}

.other-story-img-text {
  font-size: 30px;	
  text-align: center;
}

/* The text of the articles */
.story-text {
  font-family: Georgia;
  font-size: 17px;
  color: black;
}

/* Layout of the stories */
.stories {
  display: flex;
  align-items: space-between;
  flex-flow: row nowrap;
}

.story {
  margin-bottom: 10px;
  height: 200px;
}

story p {
  margin: 10px 0px;
}

.stories div {
  padding-right: 10px;
}

/* The menu on the right */
.news-bites {
  display: flex;
  flex-direction: column;
}

.news-bites h3 {
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	padding: 0px 0px 30px 0px;
}

.news-bites span {
  background-color: WhiteSmoke;
  font-family: Verdana;
  font-size: 12px;
  color: DimGray;
  border-bottom: 1px solid black;
  padding: 10px 20px;
}

/* The footer */
.footer {
  position: relative;
  top: 50px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: MediumAquamarine;
  margin: auto;
  font-family: Verdana;
  font-size: 12px;
}

.title-links span {
	margin-left: 20px;
}

.title-links span a {
	color: black;
}

.footer-site-title {
  font-family: Georgia;
  font-size: 16px;
  font-weight: bold;
  color: white;
  padding-right: 20px;
  border-right: 2px solid white;
}

.copyright {
  text-align: center;
}